html, body {
  height: 100%;
}

html {
  font-size: 14px;

  @include min-small {
    font-size: 15px;
  }
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: $black;
  line-height: 1.55;
  margin: 0;
  text-rendering: optimizeLegibility;
}

body.is-loading {
  background: white url("../images/rings.svg") center no-repeat;
  background-size: 42px;

  &:after {
    @include transform(translate(-50%, 26px));
    content: "LOADING";
    font-size: 0.85rem;
    left: 50%;
    letter-spacing: 0.275em;
    position: absolute;
    top: 50%;
  }
}

a {
  color: $the_color;
  text-decoration: none;
}

p {
  margin: 1.5em 0;
}

hr {
  background: #e9e9e9;
  border: 0;
  display: block;
  height: 2px;
  margin: 3.5rem 0 3rem;
  overflow: hidden;
  padding: 0;
}
