html {
  font-size: 16px;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: $black;
  line-height: 1.6;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: $the_color;
  text-decoration: none;
}
