html {
  font-size: 14px;

  @media (min-width: $_small) {
    font-size: 15px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: $black;
  line-height: 1.55;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: $the_color;
  text-decoration: none;
}

p {
  margin: 1.5em 0;
}
