html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
  line-height: 1.6;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: $blue;
  text-decoration: none;
}

h1 {
  font-size: 1.85rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
