@mixin font-smoothing {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

@mixin disable-font-smoothing {
  font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialised;
  -moz-font-smoothing: auto;
}

@mixin icon-font {
  @include font-smoothing;
  font-family: "feather-icons";
}



/*

  Space properties

*/
@mixin min-small {
  @media screen and (min-width: $_small) {
    @content
  }
}

@mixin max-small {
  @media screen and (max-width: $_small - 1px) {
    @content
  }
}
