/*

  Space properties

*/

$general_padding: 24px;
$general_border_radius: 5px;
$main_header_height: 5.2rem;
$input_height: 4.5rem;

$_small: 768px;
$_medium: 1024px;



/*

  Colors

*/

$header_border_color: #f2f2f2; // darken(white, 11);
$the_color: $orange;
$vanilla: #fef8be;



/*

  Other

*/

$default_transition_duration: 250ms;
