/*

  Space properties

*/

$general_padding: 24px;
$general_border_radius: 5px;
$main_header_height: 5.4rem;

$input_height: 4.4rem;
$textarea_height: $input_height * 2.5;

$_xsmall: 568px;
$_small: 768px;
$_medium: 1024px;



/*

  Colors

*/

$the_color: $blue;
$vanilla: #fef8be;

$header_border_color: #f2f2f2; // darken(white, 11);
$input_border_color: #ddd;
$focus_color: lighten($the_color, 42.5); // 35



/*

  Other

*/

$default_transition_duration: 250ms;
