.mod-application-header {
  background: white;
  border-bottom: 2px solid $header_border_color;
  color: $black;
  font-size: 1.05rem;
  overflow: hidden;
  position: relative;

  @include min-small {
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(row);
    height: $main_header_height;
  }

  &.open-map-selector {
    .mod-map-selector .map-selector__dropdown .dropdown__list {
      display: block;
    }
  }

  .mod-map-selector,
  .mod-application-header-menu {
    height: $main_header_height;

    @include min-small {
      @include flex(1);
      float: left;
      height: 100%;
    }
  }

  .logo {
    border-left: 2px solid $header_border_color;
    border-top: 2px solid $header_border_color;
    color: $black;
    display: block;
    font-size: 0.95rem;
    font-weight: 900;
    height: $main_header_height;
    letter-spacing: 0.065em;
    line-height: $main_header_height + 0.35rem;
    padding: 0 36px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include min-small {
      border-top: 0;
      float: right;
      height: 100%;
      padding: 0 50px;
    }
  }

  .application-header__menu-trigger {
    border-left: 2px solid $header_border_color;
    color: rgba(black, .25);
    cursor: pointer;
    float: left;
    font-family: "feather-icons";
    font-size: 1.125rem;
    height: $main_header_height;
    line-height: $main_header_height + 0.35rem;
    padding: 0 $general_padding;

    &:after {
      content: "î„ ";
    }

    .tooltip-data {
      display: none;
    }
  }


}
