.mod-application-header {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  background: white;
  border-bottom: 2px solid $header_border_color;
  color: $black;
  font-size: 1.05rem;
  height: $main_header_height;
  position: relative;

  &.open-map-selector {
    .mod-map-selector .map-selector__dropdown .dropdown__list {
      display: block;
    }
  }

  .mod-map-selector,
  .mod-header-menu {
    @include flex(1);
    float: left;
    height: 100%;
  }

  .logo {
    border-left: 2px solid $header_border_color;
    color: $black;
    float: right;
    font-size: 0.9rem;
    font-weight: bold;
    height: 100%;
    letter-spacing: 0.065em;
    line-height: $main_header_height + 0.2rem;
    padding: 0 50px;
    text-transform: uppercase;
  }


}
