.mod-map-navigation {
  background: #f8f8f8;
  font-size: 0;
  line-height: 0;
  padding: 0 $general_padding;

  a {
    border-right: 1px solid rgba(black, 0.05);
    color: #555;
    display: inline-block;
    font-size: 0.75rem;
    height: 48px;
    letter-spacing: 0.04em;
    line-height: 48px;
    padding: 0 5%;
    position: relative;
    text-transform: uppercase;
  }

  a:first-child {
    border-left: 1px solid rgba(black, 0.05);
  }

  a.active:before {
    background-color: rgba($the_color, .5);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }


}
