.mod-map-navigation {
  background: #f8f8f8;
  font-size: 0;
  line-height: 0;
  padding: 0 $general_padding;
  text-align: center;

  a {
    @include transition-duration($default_transition_duration);
    background-color: rgba(white, 0);
    border-right: 2px solid rgba(black, 0.05);
    color: #555;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: bold;
    height: 49px;
    letter-spacing: 0.05em;
    line-height: 50px;
    position: relative;
    text-transform: uppercase;
    width: 16%;
  }

  a:first-child {
    border-left: 2px solid rgba(black, 0.05);
  }

  a.active {
    background-color: rgba(white, 1);
    color: black;
  }


}
