.mod-map-selector {
  position: relative;

  //
  //  Input + Match
  //
  .map-selector__input {
    color: $black;
    font-family: "Pacifico", serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: $main_header_height + 0.1rem;
    position: relative;
    z-index: 1;

    input,
    .map-selector__match {
      @include font-smoothing;
      height: 100%;
      padding: 0 $general_padding;
    }

    input {
      @include appearance(none);
      @include box-sizing(border-box);
      background: none;
      border: 0;
      display: block;
      position: relative;
      width: 100%;
      z-index: 2;

      @include placeholder {
        color: #ddd;
        font-weight: 300;
      }

      &:focus {
        outline: none;
      }

      &::selection { background: rgba($the_color, .55); }
      &::-moz-selection { background: rgba($the_color, .55); }
    }

    .map-selector__match {
      color: #bbb;
      left: 0;
      position: absolute;
      text-indent: 1px;
      top: 0;
      width: 100%;
      z-index: 1;

      > span {
        display: inline-block;
        visibility: hidden;
      }
    }

    &.is-not-valid input {
      color: $red;
    }
  }


  //
  //  Message
  //
  .map-selector__message {
    @include transform(translateY(-50%));
    @include transition(opacity $default_transition_duration);
    border: 2px solid rgba($the_color, .2);
    border-radius: $general_border_radius - 1px;
    color: rgba($the_color, .55);
    font-size: 0.65em;
    font-weight: bold;
    letter-spacing: -0.0125em;
    line-height: 1;
    opacity: 0;
    padding: 7px 9px;
    pointer-events: none;
    position: absolute;
    right: $general_padding;
    text-transform: uppercase;
    top: 50%;

    @include min-xsmall {
      &.is-visible {
        opacity: 1;
      }
    }

    > span {
      display: inline-block;
      position: relative;
      top: 1px;
    }

    > span > span {
      color: rgba($the_color, .35);
    }
  }


}
