.mod-map-selector {
  position: relative;

  &.has-selected-map {
    //
  }

  //
  //  Input + Match
  //
  .map-selector__input {
    color: rgba($black, .65);
    font-family: "Alegreya";
    font-size: 1.8rem;
    font-style: italic;
    height: 100%;
    line-height: $main_header_height;
    position: relative;
    z-index: 1;

    input,
    .map-selector__match {
      height: 100%;
      padding: 0 $general_padding;
    }

    input {
      @include appearance(none);
      @include box-sizing(border-box);
      background: none;
      border: 0;
      display: block;
      position: relative;
      width: 100%;
      z-index: 2;

      @include placeholder {
        color: rgba($black, .325);
        font-weight: 300;
      }

      &:focus {
        outline: none;
      }
    }

    .map-selector__match {
      color: rgba($black, .35);
      left: 0;
      position: absolute;
      text-indent: 1px;
      top: 0;
      width: 100%;
      z-index: 1;

      > span {
        display: inline-block;
        visibility: hidden;
      }
    }
  }


  //
  //  Message
  //
  .map-selector__message {
    @include transform(translateY(-50%));
    @include transition(opacity $default_transition_duration);
    background-color: #555;
    border-radius: $general_border_radius - 1px;
    color: white;
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: -0.0125em;
    line-height: .8;
    opacity: 0;
    padding: 9px 9px 8px;
    pointer-events: none;
    position: absolute;
    right: $general_padding;
    text-transform: uppercase;
    top: 50%;

    &.is-visible {
      opacity: 1;
    }

    > span {
      color: rgba(white, .625);
    }
  }


}
