<script type="text/x-handlebars" data-template-name="map/index">

  <div class="mod-map-toolbar">
    <div class="map-toolbar__actions">
      <a {{action "add"}}>
        <i class="plus"></i>
        Add item
      </a>
    </div>

    <div class="map-toolbar__url"></div>
  </div>


  <div class="content-wrapper">
    <form class="form" {{action "save" on="submit"}}>
      {{#each map_item in sortedModelWithNumbers}}
        {{map-item-data item=map_item struct=struct keys=keys}}

        {{#if map_item.isNew}}
          <div class="form__map-item-ruler"></div>
        {{/if}}

      {{else}}
        <div class="message">
          <i icon=""></i>
          Add some keys first
        </div>

      {{/each}}

      <button class="btn" type="submit">Save</button>
    </form>
  </div>

</script>
