<script type="text/x-handlebars" data-template-name="map/index">

  <div class="mod-map-toolbar">
    <div class="map-toolbar__actions">
      {{#if has_keys}}
        <a {{action "add"}}>
          <i class="plus"></i>
          Add item
        </a>
      {{/if}}
    </div>

    {{partial "map/toolbar-url"}}
  </div>


  <div class="content-wrapper">
    <form class="form" {{action "save" on="submit"}}>
      {{#unless has_data}}
        <div class="message alt">
          <i icon=""></i>
          Loading
        </div>

      {{else}}
        {{#each sorted_model as |map_item index|}}
          {{map-item-data item=map_item struct=struct keys=keys idx=index}}

          {{#if map_item.isNew}}
            <div class="form__map-item-ruler"></div>
          {{/if}}

        {{else}}
          {{#if has_keys}}
            <div class="message">
              <i icon=""></i>
              Nothing here
            </div>
          {{else}}
            <div class="message">
              <i icon=""></i>
              Add some keys first
            </div>
          {{/if}}

        {{/each}}

      {{/unless}}

      <button class="btn" type="submit">Save</button>

      {{x-wuphf}}
    </form>
  </div>

</script>
