<script type="text/x-handlebars" data-template-name="map/index">

  <div class="mod-map-toolbar">
    <div class="map-toolbar__actions">
      <a {{action "add"}}>
        <i class="plus"></i>
        Add item
      </a>
    </div>

    <div class="map-toolbar__url"></div>
  </div>


  <div class="content-wrapper">
    <h1>Collection</h1>

    <form class="form">
      {{#each map_item in model.map_items}}
        {{#each sa_1 in structure_arrays}}
          {{#each sa_2 in sa_1}}
            <div class="row">
              {{#each field in sa_2}}
                <div class="field">
                  {{field.key}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        {{/each}}
      {{/each}}

      <p>
        <br><br>
      </p>
    </form>
  </div>

</script>
