<script type="text/x-handlebars" data-template-name="map/keys">

  <div class="mod-map-toolbar">
    <div class="map-toolbar__actions">
      <a {{action "add"}}>
        <i class="plus"></i>
        Add key
      </a>
    </div>

    {{partial "map/toolbar-url"}}
  </div>


  <div class="content-wrapper">
    <form class="form" {{action "save" on="submit"}}>
      {{#each struct in reformatted_structure}}
        <div class="field">
          {{input value=struct.key placeholder="key"}}
        </div>
        <div class="field secondary">
          <div class="form__selectize">
            {{ember-selectize
              content=controllers.map.types
              selection=struct.type
              optionValuePath="content.value"
              optionLabelPath="content.name"
              placeholder="type"}}
          </div>
        </div>
      {{/each}}

      <button class="btn" type="submit">Save</button>

      {{x-wuphf}}
    </form>

    <div class="note">
      On save, the keys will be sorted alphabetically
      <br>and <strong>empty rows will be removed</strong>.
    </div>
  </div>

</script>
