<script type="text/x-handlebars" data-template-name="map/keys">

  <div class="mod-map-toolbar">
    <div class="map-toolbar__actions">
      <a {{action "add"}}>
        <i class="plus"></i>
        Add key
      </a>
    </div>

    <div class="map-toolbar__url"></div>
  </div>


  <div class="content-wrapper">
    <h1>Structure</h1>

    <form class="form" {{action "save" on="submit"}}>
      {{#each struct in structure}}
        <div class="field">
          {{input value=struct.key placeholder="key"}}
        </div>
        <div class="field secondary">
          {{input value=struct.type placeholder="type"}}
        </div>
      {{/each}}

      <button class="btn" type="submit">Save</button>
    </form>

    <div class="note">
      On save, the keys will be sorted alphabetically
      <br>and <strong>empty rows will be removed</strong>.
    </div>
  </div>

</script>
