<script type="text/x-handlebars" data-template-name="components/application-header">

  {{#if session.isAuthenticated}}

    <div class="mod-map-selector">
      <div {{bind-attr class=":map-selector__input isValid:is-valid:is-not-valid"}}>
        {{input value=map_selector_value key-up="input_key_up" placeholder="Map name goes here"}}

        <div class="map-selector__match">
          {{{map_match_mask}}}
        </div>
      </div>

      <div class="map-selector__message is-visible">
        <span>{{{map_selector_message}}}</span>
      </div>
    </div>

    <div class="application-header__menu-trigger">
      <div class="tooltip-data">
        <div class="group">
          {{#link-to "sign_out"}}Sign out{{/link-to}}
        </div>
      </div>
    </div>

  {{else}}

    <div class="mod-application-header-menu">
      <div class="application-header-menu__wrapper">
        {{#link-to "index"}}About{{/link-to}}
        {{#link-to "sign_in"}}Sign In{{/link-to}}
        {{#link-to "sign_up"}}Sign Up{{/link-to}}
      </div>
    </div>

  {{/if}}



  {{#link-to "index" class="logo"}}
    <span class="logo__app-name">Keymaps</span>
  {{/link-to}}

</script>
