<script type="text/x-handlebars" data-template-name="components/map-item-data">

  <div class="row-prefix" {{action "destroy"}}>
    <span class="row-prefix__title row-prefix__center">
      {{#if item.isNew}}
        NEW
      {{else}}
        {{number}}
      {{/if}}
    </span>
    <span class="row-prefix__destroy row-prefix__center">
      <i class="cross"></i>
    </span>
  </div>

  {{#each s in struct}}
    <div class="row {{if s.has_one_item 'row__with-one-item'}}">
      {{#each field in s}}
        {{map-item-data-field key=field.key type=field.type}}
      {{/each}}
    </div>
  {{/each}}

</script>
