<script type="text/x-handlebars" data-template-name="sign_in">

  <div class="content-wrapper">
    <h1>
      Sign in
      <i icon=""></i>
      {{#link-to "sign_up"}}Sign up{{/link-to}}
    </h1>

    <form class="form" {{action "sign_in" on="submit"}}>
      <div class="field">
        {{input value=identification placeholder="Email"}}
      </div>
      <div class="field secondary">
        {{input value=password placeholder="Password" type="password"}}
      </div>

      <button class="btn" type="submit">Sign in</button>

      {{partial "errors"}}
    </form>
  </div>

</script>
