<script type="text/x-handlebars" data-template-name="sign_up">

  <div class="content-wrapper">
    <h1>
      {{#link-to "sign_in"}}Sign in{{/link-to}}
      <i icon=""></i>
      Sign up
    </h1>

    <form class="form" {{action "submit" on="submit"}}>
      <div class="field full-width">
        {{input value=model.email placeholder="Email"}}
      </div>
      <div class="field">
        {{input value=model.password placeholder="Password" type="password"}}
      </div>
      <div class="field secondary">
        {{input value=model.password_confirmation placeholder="Password confirmation" type="password"}}
      </div>

      <button class="btn" type="submit">Sign up</button>

      {{partial "errors"}}
    </form>
  </div>

</script>
