<script type="text/x-handlebars" data-template-name="sign_in">

  <div class="content-wrapper">
    <h1>Sign in</h1>

    <form class="form" {{action "authenticate" on="submit"}}>
      <div class="field">
        {{input value=identification placeholder="Email"}}
      </div>
      <div class="field secondary">
        {{input value=password placeholder="Password" type="password"}}
      </div>

      <button class="btn" type="submit">Sign in</button>

      {{#if sign_in_error}}
        <p style="color:red;">
          {{sign_in_error}}
        </p>
      {{/if}}
    </form>

    <p>
      Or {{#link-to "sign_up"}}sign up{{/link-to}} if you haven"t got an account yet.
    </p>
  </div>

</script>
