.btn {
  background: transparent;
  border: 0;
  border-radius: $general_border_radius;
  color: rgba(white, .925);
  cursor: pointer;
  display: inline-block;
  height: 3.75rem;
  line-height: 3.85rem;
  padding: 0 21px;

  @include linear-gradient(
    rgba($the_color, .55),
    $the_color
  );

  &:focus,
  &:active {
    background-color: $gray;
    outline: none;
  }


}
