.form {
  margin: 19px 0;

  @include min-small {
    margin: 35px 0;
  }

  &, .row {
    @include clearfix;
  }

  .field {
    float: left;
    font-size: 0;
    line-height: 0;
    margin-top: -2px;
    position: relative;
    width: 100%;

    @include min-small {
      width: 50%;
    }
  }

  .field.is-full-width,
  .row__with-one-item .field {
    width: 100%;
  }

  .field.has-normal-height {
    height: $input_height;
  }

  .field.has-textarea-height {
    height: $textarea_height;
  }

  .field.secondary + .field {
    clear: both;
  }

  .errors, .message {
    clear: both;
    float: left;
  }

  @include max-small {
    .field.secondary {
      clear: both;
    }
  }

  // spacer
  .form__spacer {
    background-color: #f3f3f3;
    display: block;
    height: 2px;
    margin: 2.25rem 0;
    width: 70%;
  }

  // input
  input,
  textarea {
    @include appearance(none);
    @include transition(border-color $default_transition_duration);
    background: none;
    border: 2px solid $input_border_color;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 18px;
    position: relative;
    width: 100%;
    z-index: 1;

    @include placeholder {
      color: rgba($black, .325);
    }

    &:focus {
      border-color: $focus_color;
      color: $the_color;
      outline: none;
      z-index: 9;

      @include placeholder {
        color: rgba(lighten($the_color, 27.5), .75);
      }
    }
  }

  input {
    height: $input_height;
    padding-top: 2px;

    @include min-small {
      padding-right: 96px;
    }
  }

  textarea {
    height: $textarea_height;
    padding-bottom: 20px;
    padding-top: 20px;
    resize: none;

    @include min-small {
      padding-right: 82px;
    }
  }

  input[type="password"] {
    letter-spacing: 0.25em;

    @include placeholder {
      letter-spacing: 0;
    }
  }

  // borders
  @include min-small {
    .field.secondary,
    .row .field:not(.is-full-width):nth-child(2) {
      input, .form__selectize, .input-boolean {
        margin-left: -2px;
      }

      input, .form__selectize {
        width: calc(100% + 2px);
      }
    }
  }

  // field type
  .field__type {
    @include transform(translateY(-50%));
    @include transition(opacity $default_transition_duration);
    background-color: lighten($the_color, 15); // #D5D5D5;
    border-radius: $general_border_radius - 1px;
    color: white;
    font-size: 0.795rem;
    letter-spacing: 0.025em;
    line-height: 1;
    margin-top: 1px;
    opacity: 0;
    padding: 7px 9px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    text-transform: uppercase;
    top: 50%;
    z-index: 2;

    > span {
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }

  @include min-small {
    input:focus + .field__type,
    textarea:focus + .field__type {
      opacity: 1;
    }
  }

  // buttons
  button {
    clear: both;
    float: left;
    margin-top: 21px;
  }

  button + .message,
  button + .wuphf-message-container .message {
    clear: none;
    margin: 21px 0 0 13px;
  }

  // label
  label {
    background-color: #aaa;
    border-radius: $general_border_radius - 1px;
    clear: both;
    color: white;
    float: left;
    font-size: 0.8em;
    margin-bottom: 14px;
    margin-top: 21px;
    padding: 5px 9px 3px;
    text-transform: uppercase;
  }

  label:first-child {
    margin-top: 0;
  }

  label + .field {
    clear: both;
  }


  //
  //  Rows
  //
  .row-prefix {
    border: 2px dashed $input_border_color;
    border-right: 0;
    cursor: pointer;
    display: block;
    height: calc(100% - 2px);
    left: 0;
    position: absolute;
    text-align: center;
    top: -2px;
    width: calc(20% - 2px);

    @include min-small {
      width: calc(10% - 2px);
    }

    &.is-highlighted {
      border-color: $the_color;
      z-index: 10;
    }
  }

  .row-prefix__center {
    @include transform(translate(-50%, -50%));
    left: 50%;
    position: absolute;
    top: 50%;
  }

  .row-prefix__title {
    color: rgba(black, .325);
    display: inline-block;
    pointer-events: none;
    z-index: 1;
  }

  .row-prefix.is-highlighted .row-prefix__title {
    color: $the_color;
  }

  // row class
  .row {
    float: right;
    width: 100%;
  }

  .row-prefix + .row {
    width: 80%;
    @include min-small {
      width: 90%;
    }
  }

  // row wrapper
  .row-wrapper {
    @include clearfix;
    position: relative;
  }


  //
  //  Map item
  //
  .form__map-item-data {

    &:before {
      @include linear-gradient(90deg, $input_border_color, lighten($the_color, 21.25));
      bottom: 0;
      content: "";
      height: 2px;
      right: 0;
      position: absolute;
      width: 5%;
      z-index: 9;
    }

    .row {
      width: 80%;
      @include min-small {
        width: 90%;
      }
    }

    .row-prefix:hover .row-prefix__title {
      display: none;
    }

    .row-prefix__destroy {
      color: $red;
      display: none;
      font-size: 1.8em;
      z-index: 2;
    }

    .row-prefix:hover .row-prefix__destroy {
      display: inline-block;
    }
  }

  .form__map-item-ruler {
    background: rgba($the_color, .275);
    height: 2px;
    margin-bottom: 13px;
    margin-top: 11px;
  }


  //
  //  Selectize
  //
  .selectize-control {
    font-size: 0;
    line-height: 0;
  }

  .selectize-input,
  .selectize-dropdown {
    color: $black;

    -webkit-border-radius: none !important;
    border-radius: none !important;

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .selectize-input {
    background: transparent;
    border: 2px solid $input_border_color;
    border-radius: 0;
    font-size: 1rem;
    height: $input_height;
    line-height: calc(#{$input_height} - 2px);
    padding: 0 18px;

    &.dropdown-active,
    &.focus {
      background: white;
      border-color: $focus_color;
      color: $the_color;
      z-index: 9;
    }

    &:before {
      display: none !important;
    }
  }

  .selectize-control.single .selectize-input:after {
    @include transform(translateY(-50%));
    @include icon-font;
    border: none !important;
    color: #bbb;
    content: "\e097";
    font-size: 0.85rem;
    height: auto;
    line-height: 1;
    margin-top: 0 !important;
    right: 18px;
    width: auto;
  }

  .selectize-control.single .selectize-input.dropdown-active:after {
    content: "\e096";
  }

  .selectize-input input {
    color: $black;
    font-size: 1rem;
    height: calc(#{$input_height} - 4px);
  }

  .selectize-dropdown {
    border: 2px solid $focus_color;
    border-top: none;
    font-size: .95rem;
    line-height: 1.2;
    margin: -4px 0 0;

    .option {
      padding: 12px 18px 11px;
    }

    .option.active {
      background-color: $focus_color;
      color: $black;
    }

    .option .highlight {
      background: lighten($the_color, 27.5);
    }
  }


}
