.form {
  margin: 37px 0;

  &, .row {
    @include clearfix;
  }

  .field {
    float: left;
    margin-top: -2px;
    width: 50%;
  }

  .field.full-width {
    width: 100%;
  }

  input,
  textarea {
    @include appearance(none);
    background: none;
    border: 2px solid #ECECEC;
    box-sizing: border-box;
    padding: 20px 18px;
    position: relative;
    width: 100%;
    z-index: 1;

    @include placeholder {
      color: rgba($black, .325);
    }

    &:focus {
      border-color: lighten($the_color, 37.5);
      color: $the_color;
      outline: none;
      z-index: 9;

      @include placeholder {
        color: rgba(lighten($the_color, 30), .75);
      }
    }
  }

  input[type="password"] {
    letter-spacing: 0.25em;

    @include placeholder {
      letter-spacing: 0;
    }
  }

  .field.secondary input,
  .row .field:not(.full-width):nth-child(2) input {
    margin-left: -2px;
    width: calc(100% + 2px);
  }

  button {
    margin-top: 21px;
  }


}
