.form {
  margin: 14px 0;

  @media (min-width: $_small) {
    margin: 35px 0;
  }

  &, .row {
    @include clearfix;
  }

  .field {
    float: left;
    font-size: 0;
    line-height: 0;
    margin-top: -2px;
    position: relative;
    width: 50%;
  }

  .field.full-width {
    width: 100%;
  }

  .field.secondary + .field {
    clear: both;
  }

  .row__with-one-item .field {
    width: 100%;
  }

  .errors, .message {
    clear: both;
    float: left;
  }

  // input
  input,
  textarea {
    @include appearance(none);
    @include transition(border-color $default_transition_duration);
    background: none;
    border: 2px solid #e4e4e4;
    box-sizing: border-box;
    color: $black;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 18px;
    position: relative;
    width: 100%;
    z-index: 1;

    @include placeholder {
      color: rgba($black, .325);
    }

    &:focus {
      border-color: lighten($the_color, 35);
      color: $the_color;
      outline: none;
      z-index: 9;

      @include placeholder {
        color: rgba(lighten($the_color, 27.5), .75);
      }
    }
  }

  input {
    height: $input_height;
    padding-right: 96px;
    padding-top: 2px;
  }

  textarea {
    height: $input_height * 2.5;
    padding-bottom: 20px;
    padding-right: 82px;
    padding-top: 20px;
    resize: none;
  }

  input[type="password"] {
    letter-spacing: 0.25em;

    @include placeholder {
      letter-spacing: 0;
    }
  }

  .field.secondary,
  .row .field:not(.full-width):nth-child(2) {
    input, .form__selectize {
      margin-left: -2px;
      width: calc(100% + 2px);
    }
  }

  // field type
  .field__type {
    @include transform(translateY(-50%));
    @include transition(opacity $default_transition_duration);
    /* background-color: #D5D5D5; */
    background-color: lighten($the_color, 15);
    border-radius: $general_border_radius - 1px;
    color: white;
    font-size: 0.795rem;
    letter-spacing: 0.025em;
    line-height: 1;
    margin-top: 1px;
    opacity: 0;
    padding: 7px 9px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    text-transform: uppercase;
    top: 50%;
    z-index: 2;

    > span {
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }

  input:focus + .field__type,
  textarea:focus + .field__type {
    opacity: 1;
  }

  // buttons
  button {
    clear: both;
    float: left;
    margin-top: 21px;
  }

  button + .message,
  button + .wuphf-message-container .message {
    clear: none;
    margin: 21px 0 0 13px;
  }

  // label
  label {
    background-color: #aaa;
    border-radius: $general_border_radius - 1px;
    clear: both;
    color: white;
    float: left;
    font-size: 0.8em;
    margin-bottom: 14px;
    margin-top: 21px;
    padding: 5px 9px 3px;
    text-transform: uppercase;
  }

  label:first-child {
    margin-top: 0;
  }

  label + .field {
    clear: both;
  }


  //
  //  Map item
  //
  .form__map-item-data {
    @include clearfix;
    margin-bottom: 11px;
    position: relative;

    .row {
      float: right;
      width: 100%;

      @media (min-width: $_small) {
        width: 90%;
      }
    }

    .row-prefix {
      display: none;

      @media (min-width: $_small) {
        border: 2px dashed #e4e4e4;
        border-right: 0;
        cursor: pointer;
        display: block;
        height: calc(100% - 2px);
        left: 0;
        position: absolute;
        text-align: center;
        top: -2px;
        width: calc(10% - 2px);
      }
    }

    .row-prefix__center {
      @include transform(translateY(-50%));
      position: relative;
      top: 50%;
    }

    .row-prefix__title {
      color: rgba(black, .225);
      display: inline-block;
    }

    .row-prefix:hover .row-prefix__title {
      display: none;
    }

    .row-prefix__destroy {
      color: $red;
      display: none;
      font-size: 1.7em;
    }

    .row-prefix:hover .row-prefix__destroy {
      display: inline-block;
    }
  }

  .form__map-item-ruler {
    background: rgba($the_color, .275);
    height: 2px;
    margin-bottom: 13px;
  }


  //
  //  Selectize
  //
  .selectize-control {
    font-size: 0;
    line-height: 0;
  }

  .selectize-input,
  .selectize-dropdown {
    color: $black;

    -webkit-border-radius: none !important;
    border-radius: none !important;

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .selectize-input {
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 0;
    font-size: 1rem;
    height: $input_height;
    line-height: calc(#{$input_height} - 2px);
    padding: 0 18px;

    &.dropdown-active,
    &.focus {
      background: white;
      border-color: lighten($the_color, 35);
      color: $the_color;
      z-index: 9;
    }

    &:before {
      display: none !important;
    }
  }

  .selectize-control.single .selectize-input:after {
    @include transform(translateY(-50%));
    @include icon-font;
    border: none !important;
    color: #bbb;
    content: "\e097";
    font-size: 0.85rem;
    height: auto;
    line-height: 1;
    margin-top: 0 !important;
    right: 18px;
    width: auto;
  }

  .selectize-control.single .selectize-input.dropdown-active:after {
    content: "\e096";
  }

  .selectize-input input {
    color: $black;
    font-size: 1rem;
    height: calc(#{$input_height} - 4px);
  }

  .selectize-dropdown {
    border: 2px solid lighten($the_color, 35);
    border-top: none;
    font-size: .95rem;
    line-height: 1.2;
    margin: -4px 0 0;

    .option {
      padding: 12px 18px 11px;
    }

    .option.active {
      background-color: lighten($the_color, 35);
      color: $black;
    }

    .option .highlight {
      background: lighten($the_color, 27.5);
    }
  }


}
