h1 {
  font-size: 1.85rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  i[icon], a {
    color: rgba($black, .225);
  }

  i[icon] {
    font-size: 0.775em;
    margin: 0 11px;
  }

  a:hover {
    color: $black;
  }


}
