i {
  @include font-smoothing;
  display: inline-block;
  font-size: 0.75em;
  font-style: normal;
  font-family: "feather-icons";

  &[icon]:before {
    content: attr(icon);
  }

  &.plus:before { content: "\e114"; }
  &.cross:before { content: "\e117"; }


}
