i {
  @include icon-font;
  display: inline-block;
  font-size: 0.75em;
  font-style: normal;

  &[icon]:before {
    content: attr(icon);
  }

  &.bell:before { content: "\e006"; }
  &.plus:before { content: "\e114"; }
  &.check:before { content: "\e116"; }
  &.cross:before { content: "\e117"; }
  &.help:before { content: "\e127"; }


}
