.input-boolean {
  border: 2px solid #e4e4e4;
  height: calc(#{$input_height} - 4px);
  line-height: $input_height;
  padding: 0 18px;

  .input-boolean__value,
  .input-boolean__seperator {
    @include transition(opacity $default_transition_duration);
    border-radius: $general_border_radius - 1px;
    display: inline-block;
    font-size: 0.795rem;
    letter-spacing: 0.025em;
    line-height: 1;
    margin-top: 4px;
    padding: 7px 9px;
    text-transform: uppercase;
    vertical-align: middle;

    > span {
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }

  // value
  .input-boolean__value {
    background-color: #bdbdbd;
    color: white;
    cursor: pointer;
  }

  .input-boolean__value.is-active {
    background-color: lighten($the_color, 15);
  }

  // seperator
  .input-boolean__seperator {
    color: #ddd;
    margin-left: 6px;
    margin-right: 6px;
  }

  // key
  .input-boolean__key {
    @include transform(translateY(-50%));
    color: rgba($black, .325);
    display: none;
    font-size: 1rem;
    line-height: 1.6;
    position: absolute;
    right: 18px;
    top: 50%;

    @include min-xsmall {
      display: block;
    }
  }


}
