.message {
  background: $vanilla;
  border-radius: $general_border_radius;
  color: desaturate(darken($vanilla, 52.5), 52.5);
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 16px 29px 15px;

  i[icon] {
    margin-right: 0.6em;
  }

  //
  //  * Error
  //
  &.is-error {
    background-color: transparent;
    border: 2px solid $red;
    color: $red;
  }


}
