.message {
  border: 2px solid rgba($black, .3);
  border-radius: $general_border_radius;
  color: $black;
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 15px 28px 14px;

  i[icon], i[class] {
    margin-right: 0.6em;
  }

  //
  //  * Error
  //
  &.is-error {
    border-color: rgba($red, .3);
    border-style: dashed;
    color: $red;
  }


  //
  //  * With margin
  //
  &.with-margin {
    margin: 1.8em 0 0;
  }


  //
  //  * Statuses
  //
  &.success {
    border-color: rgba($green, .3);
    border-style: dashed;
    color: $green;
  }


}
