.note {
  color: #777;
  font-size: 1.3rem;

  &:before {
    @include font-smoothing;
    content: "\e006";
    display: inline-block;
    font-size: 0.75em;
    font-family: "feather-icons";
    margin-right: 0.6em;
  }


}
