.tooltip {
  box-shadow: rgba(black, 0.05) 0px 1px 0px 1px,
              rgba(black, 0.05) 0px 5px 7px -1px;
  color: white;
  font-size: 0.9rem;
  position: absolute;
  right: -13px;
  top: 49px;
  width: 184px;
  z-index: 99;

  &.hidden {
    display: none;
  }

  // arrow
  .arrow {
    border-bottom: 5px solid rgba($black, 0.675);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: -5px;
    width: 0;
  }

  // group
  .group {
    background: rgba($black, 0.675);
  }

  .group:last-child,
  .group.last {
    z-index: 0;
  }

  // buttons
  a {
    border-bottom: 2px solid rgba(black, .05);
    color: white;
    cursor: pointer;
    display: block;
    line-height: 1.1;
    padding: 15px 13px 11px;
    position: relative;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background-color: rgba(black, .3375);
  }

  a em {
    display: inline-block;
    font-style: normal;
    margin-left: 1px;
    opacity: .7;
  }

  .group a:last-child {
    /* border-bottom: 0; */
  }


}
